.navbar-spacer {
    flex: 1 1 auto;
  }
  
  .navbar {
    z-index: 2;
  }
  
  .navbar-brand {
    text-decoration: none;
    color: white;
  }
  
  .navbar-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .navbar-is-mobile .navbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  .navbar-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
             causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .navbar-is-mobile .navbar-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
             `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  
  /*Set sidenav width*/
  
  mat-sidenav {
    min-width: 180px !important;
    border-right: 1px solid #eee;
    box-shadow: 6px 0 6px rgba(0, 0, 0, .1);
    /* background-color:rgb(63, 81, 181); */
  }
  
  /* Set height of wrapper to stop content from moving up & down */
  
  .progress-bar-container {
    height: 5px;
  }
  
  a.mat-list-item.active {
    background: rgba(0, 0, 0, .04);
  }
  
  #push-bottom {
    position: absolute;
    bottom: 0;
  }
  .main-content{
    padding: 20px;
  }
  .logout{
    margin-right: 39px !important;
    } 

    // .mat-menu-item {
    //   padding: 0px 0px !important;
    //   margin-left: -9px !important;
    //   margin-top: -17px !important;
    // }

    .spinner_container {
      border-radius: 10px;
      height: 70px;
      left: 50%;
      position: absolute;
      top: 40%;
      transform: translate(-50%,-50%);
      width: 70px;
      z-index: 3;
      opacity: 0.5;
  }

  ::ng-deep {.mat-menu-panel.my-class { max-width: 600px !important; } }

  ::ng-deep{.mat-menu-item .mat-icon {
    margin-right: 1px !important;
    vertical-align: middle;
}}

.alert-danger {
  background-color: #f44336; /* Red */
}
.alert-success {
  background-color: #36f456;  
} 
.alert{
  padding: 20px;
  color: white;
  margin-bottom: 15px;
  text-align: center;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert .alert-link {
  font-weight: bold;
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert-success hr {
  border-top-color: #c9e2b3;
}

.alert-success .alert-link {
  color: #2b542c;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.alert-info hr {
  border-top-color: #a6e1ec;
}

.alert-info .alert-link {
  color: #245269;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.alert-warning hr {
  border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
  color: #66512c;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-danger hr {
  border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
  color: #843534;
}

