.mat-form-field-infix {
     width: 0px !important; 
}
.fourth-width{
    width: 125px;
}
.pr-7{
    padding-right: 7px;
}
table {
    width: 100%;
  }
  .mat-mdc-table {
    width: 100%;
    max-height: 500px;
    overflow: auto;
  }
  