<ng-container>
    <mat-card>
      <div class="your-header">
        <mat-card-title-group>
          <mat-card-title>{{ tableTitle }}</mat-card-title>
          <div>
        
            <button mat-raised-button color="primary" (click)="exportToExcel()">
              Excel
              <mat-icon>cloud_download</mat-icon>
            </button>
          </div>
        </mat-card-title-group>
      </div>
      <mat-card-content>
        <ng-container>
          <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <span matPrefix>
              <mat-icon>search</mat-icon>
            </span>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search" />
          </mat-form-field>
        </ng-container>
      </mat-card-content>
    </mat-card>
  
    <table
      mat-table
      class="mat-elevation-z0"
      [dataSource]="tableDataSource"
      matSort
    >
      <ng-container matColumnDef="variantName">
        <th matSort mat-header-cell *matHeaderCellDef mat-sort-header>
          Bike Name
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element["variantName"] }}
        </td>
      </ng-container>
      <ng-container matColumnDef="exShowRoomPrice">
        <th matSort mat-header-cell *matHeaderCellDef mat-sort-header>
          Ex ShowRoom
        </th>
        <td mat-cell *matCellDef="let element">
            ₹ {{ element["exShowRoomPrice"] }}
        </td>
      </ng-container>
      <ng-container matColumnDef="insurancePrice">
        <th matSort mat-header-cell *matHeaderCellDef mat-sort-header>
            Insurance Price
        </th>
        <td mat-cell *matCellDef="let element">
            ₹ {{ element["insurancePrice"] }}
        </td>
      </ng-container>
      <ng-container matColumnDef="rtoPrice">
        <th matSort mat-header-cell *matHeaderCellDef mat-sort-header>
            RTO Price
        </th>
        <td mat-cell *matCellDef="let element">
            ₹{{ element["rtoPrice"] }}
        </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th matSort mat-header-cell *matHeaderCellDef mat-sort-header>
             Price
        </th>
        <td mat-cell *matCellDef="let element">
            ₹{{ element["price"] }}
        </td>
      </ng-container>
      <ng-container matColumnDef="bookingAmount">
        <th matSort mat-header-cell *matHeaderCellDef mat-sort-header>
            Booking Amount
        </th>
        <td mat-cell *matCellDef="let element">
            ₹{{ element["bookingAmount"] }}
        </td>
      </ng-container>
      <ng-container matColumnDef="chesisNumber">
        <th matSort mat-header-cell *matHeaderCellDef mat-sort-header>
            Chesis Number
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element["chesisNumber"] }}
        </td>
      </ng-container>
      <ng-container matColumnDef="engineNumber">
        <th matSort mat-header-cell *matHeaderCellDef mat-sort-header>
            Engine Number
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element["engineNumber"] }}
        </td>
      </ng-container>

      <tbody>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </tbody>
    </table>
    <mat-paginator
      [pageSizeOptions]="paginationSizes"
      [pageSize]="defaultPageSize"
      showFirstLastButtons
    >
    </mat-paginator>
  </ng-container>
  