<div class="container bgcolor" fxLayout="row" fxLayoutAlign="center center">
    <form [formGroup]="formGroup" fxFlex="100%" fxFlex.sm="60%" fxFlex.xs="90%">
      <mat-card>
        <mat-card-title>{{ formName }}</mat-card-title>
        <mat-card-content>
        <div fxLayout="row">
          <mat-form-field class="half-width" appearance="outline">
            <mat-label>Name</mat-label>
  
            <input
              matInput
              type="text"
              placeholder="Name"
              formControlName="name"
              autocomplete="off"
              required
            />
  
            <mat-error>
              <error-mesage
                [control]="form.name"
                [validation]="validationMessage.name"
              >
              </error-mesage>
            </mat-error>
          </mat-form-field>
       
          <mat-form-field class="half-width" appearance="outline">
            <mat-label>Mobile Number</mat-label>
  
            <input
              matInput
              type="text"
              placeholder="Mobile Number"
              formControlName="mobileNumber"
              autocomplete="off"
              required
            />
  
            <mat-error>
              <error-mesage
                [control]="form.mobileNumber"
                [validation]="validationMessage.mobileNumber"
              >
              </error-mesage>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="half-width" appearance="outline">
            <mat-label>Phone Number</mat-label>
  
            <input
              matInput
              type="text"
              placeholder="Phone Number"
              formControlName="phoneNumber"
              autocomplete="off"
              required
            />
  
            <mat-error>
              <error-mesage
                [control]="form.phoneNumber"
                [validation]="validationMessage.phoneNumber"
              >
              </error-mesage>
            </mat-error>
          </mat-form-field>
        </div>
      
        <div fxLayout="row">
        
 
          <mat-form-field class="half-width" appearance="outline">
            <mat-label>Email Id</mat-label>
  
            <input
              matInput
              type="text"
              placeholder="Email"
              formControlName="emailId"
              autocomplete="off"
              required
            />
  
            <mat-error>
              <error-mesage
                [control]="form.emailId"
                [validation]="validationMessage.emailId"
              >
              </error-mesage>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="half-width" appearance="outline">
            <mat-label>Area</mat-label>
  
            <mat-select formControlName="areaId" required>
              <mat-option>Select Area</mat-option>
              <mat-option *ngFor="let item of area" [value]="item.id">
                {{ item.name }}
              </mat-option>
            </mat-select>
  
            <mat-error>
              <error-mesage
                [control]="form.areaId"
                [validation]="validationMessage.areaId"
              >
              </error-mesage>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="half-width" appearance="outline">
            <mat-label>Google Url</mat-label>
  
            <input
              matInput
              type="text"
              placeholder="Url"
              formControlName="urlLink"
              autocomplete="off"
              
            />
  
            <mat-error>
              <error-mesage
                [control]="form.urlLink"
                [validation]="validationMessage.url"
              >
              </error-mesage>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field class="half-width" appearance="outline">
            <mat-label>Address Line1</mat-label>
            <textarea
              matInput
              type="text"
              placeholder="Address Line1"
              formControlName="addressLine1"
              autocomplete="off"
              required
            ></textarea>
  
            <mat-error>
              <error-mesage
                [control]="form.addressLine1"
                [validation]="validationMessage.addressLine1"
              >
              </error-mesage>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="half-width" appearance="outline">
            <mat-label>Address Line2</mat-label>
            <textarea
              matInput
              type="text"
              placeholder="Address Line2"
              formControlName="addressLine2"
              autocomplete="off"
              required
            ></textarea>
  
            <mat-error>
              <error-mesage
                [control]="form.addressLine1"
                [validation]="validationMessage.addressLine2"
              >
              </error-mesage>
            </mat-error>
          </mat-form-field>
        </div>
       
  
          <mat-card-actions class="form-actions" *ngIf="!isView">
            <button *ngIf="isAdd"
              mat-raised-button
              color="primary"
              [disabled]="formGroup.invalid"
              (click)="save()"
            >
              Submit
            </button>
            <button *ngIf="isEdit"
            mat-raised-button
            color="primary"
            [disabled]="formGroup.invalid"
            (click)="update()"
          >
            Update
          </button>
            <!-- <button mat-button (click)="resteForm()" type="button">Reset</button> -->
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
  