<div class="container bgcolor" fxLayout="row" fxLayoutAlign="center center">
    <form [formGroup]="chnagePasswordForm" fxFlex="80%" fxFlex.sm="50%" fxFlex.xs="90%">
        <mat-card>
            <mat-card-title>Update Password</mat-card-title>

            <mat-card-content>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Current Password</mat-label>
                    <span matPrefix>
                        <mat-icon>lock</mat-icon>
                    </span>
                    <input matInput [type]="hideCurrentPassword ? 'password' : 'text'" blockCopyPaste placeholder="Current Password"
                        formControlName="currentPassword" autocomplete="off">
                    <button mat-icon-button matSuffix (click)="hideCurrentPassword = !hideCurrentPassword">
                        <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error>
                        <error-mesage [control]="form.currentPassword" [validation]="validationMessage.currentPassword">
                        </error-mesage>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>New Password</mat-label>
                    <span matPrefix>
                        <mat-icon>lock</mat-icon>
                    </span>
                    <input matInput [type]="hidePassword ? 'password' : 'text'"  blockCopyPaste
                        placeholder="Password"   
                        formControlName="newPassword" autocomplete="off">
                    
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error>
                        <error-mesage [control]="form.newPassword" [validation]="validationMessage.newPassword">
                        </error-mesage>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <span matPrefix>
                        <mat-icon>lock</mat-icon>
                    </span>
                    <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" placeholder="Confirm Password" blockCopyPaste
                        formControlName="passwordConfirm" autocomplete="off">
                    <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">
                        <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error>
                        <error-mesage [control]="form.passwordConfirm" [validation]="validationMessage.passwordConfirm">
                        </error-mesage>
                    </mat-error>
                </mat-form-field>
            </mat-card-content>

            <mat-card-actions class="form-actions">
                <button mat-raised-button color="primary" [disabled]="chnagePasswordForm.invalid || loading"
                    (click)="update()">Update</button>
                <button mat-button (click)="resteForm()" type="button">Reset</button>
                <button mat-button routerLink="/dashboard">Cancel</button>
            </mat-card-actions>

        </mat-card>

        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    </form>
</div>